{% embed 'partials/base.html.twig' %}

	{% set base_url = page.parent.url %}
    {% set feed_url = base_url %}

    {% if base_url == '/' %}
        {% set base_url = '' %}
    {% endif %}

    {% if base_url == base_url_relative %}
        {% set feed_url = base_url~'/'~page.parent.slug %}
    {% endif  %}
   
	{% block content %}
        {% set blog_image = page.parent.media.images|first %}
        
		{% if blog_image %}
		<div class="flush-top blog-header blog-header-image" style="background: {{ page.parent.header.bg_color }} url({{ blog_image.url }}) no-repeat right;">
            <h1>{{ page.title }}</h1>
        </div>
        {% endif %}

        {% if config.plugins.breadcrumbs.enabled %}
            {% include 'partials/breadcrumbs.html.twig' %}
        {% endif %}
		
		<div class="blog-content-item g-grid pure-g-r">
			<div id="item" class="g-block pure-u-2-3">
			    {% include 'partials/blog_item.html.twig' with {'truncate':false,'big_header':true} %}
			</div>
			<div id="sidebar" class="g-block size-1-3 pure-u-1-3">
				{% include 'partials/sidebar.html.twig' %}
			</div>
		</div>
	{% endblock %}

{% endembed %}
