.blog-header {
    padding-top: 1rem !important;
    padding-bottom: 1rem;
    margin-top: 0 !important;

    &.blog-header-image {
        background-size: cover !important;

        h1, h2 {
            color: $header-text;
            text-align: left;
        }

    }

    h1 {
        font-size: 2.5rem;
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase;
        @include breakpoint(tablet-range) {
            font-size: 2rem;
        }
        @include breakpoint(mobile-only) {
            font-size: 1.5rem;
            line-height: 1.2;
        }
    }

    & + .blog-content {
        padding-top: $padding-vert;
    }
}

// List Blog Item
.list-item {

    border-bottom: 1px solid darken($border-color, 8%);
    margin-bottom: $padding-vert;

    &:last-child {
        border-bottom: 0;
    }
    .list-blog-header {
        position: relative;
        h4 {
            text-align: left;
            margin-bottom: 1.5rem;
            a {
                color: $light-gray;
                &:hover {
                    color: $core-accent;
                }
            }
        }
        img {
            display: block;
            margin-top: 1rem;
            border-radius: $border-radius;
        }
    }

    .list-blog-date, .list-blog-author {
        text-align: center;
        background-color: transparentize($light-gray, 0.9);
        padding: 0.7rem 1rem;
        margin-bottom: 0.2rem;
        margin-right: 0.5rem;
        font-size: $core-font-size;
        text-transform: uppercase;
        color: $core-text;
        font-family: $font-family-header;

        @include breakpoint(tablet-range) {
            display: block;
            width: 100%;
            clear: both;
        }
        @include breakpoint(mobile-only) {
            display: block;
            width: 100%;
            clear: both;
        }
    }
}

// Bigger first para
.blog-content-item {
    .list-blog-padding > p:nth-child(2) {
        font-size: $core-font-size + 0.2rem;
    }
}

// Tags
.tags {
    margin: 0;
    padding: 0;
    display: inline;
    background-color: transparentize($light-gray, 0.9);
    padding: 0.7rem 1rem;
    margin-bottom: 0.2rem;
    list-style: none;
    text-align: center;
    li {
        display: inline-block;
        font-size: $core-font-size;
        text-transform: uppercase;
        font-family: $font-family-header;
        a {
            color: $core-text;
            &:after {
                content: ",";
            }
        }
        &:last-child {
            a:after {display: none;} 
        }
    }
    @include breakpoint(tablet-range) {
        display: block;
        width: 100%;
        clear: both;
    }
    @include breakpoint(mobile-only) {
        display: block;
        width: 100%;
        clear: both;
    }
}

// Archives & Related-Pages
.archives, .related-pages {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        line-height: $core-font-size + 1rem;
        &:last-child {
            border-bottom: 0;
        }
    }
    a {
        color: $core-text;
        &:hover {
            color: $core-accent;
        }
    }
}

.related-pages {
    li {
        a {
            display: block;
        }
    }
    .score {
        display: block;
        float: right;
        color: #999;
        font-size: 85%
    }
}

// Syndicate
.syndicate {
    a {
        margin-bottom: 1rem;
    }
}

// Breadcrumbs
div#breadcrumbs {
    padding-left: 0;
    @include breakpoint(mobile-only) {
        display: none;
    }
}

// Sidebar
#sidebar {
    padding-left: 3rem;
    @include breakpoint(mobile-only) {
        padding-left: 0;
    }
    .sidebar-content {
        h4 {
            margin-bottom: 1rem;
            text-align: left;
        }
        p, ul {
            margin-top: 1rem;
        }
        margin-bottom: $padding-vert;
    }
}

// Pagination
ul.pagination {
    margin: 0 0 $padding-vert;
    text-align: center;
}

// Prev / Next
.prev-next {
    margin-top: 5rem;
    text-align: center;
}
