.footer {
    font-size:  $core-font-size - 0.1rem;
    background: #333;
    width: 100%;
    @extend .padding-horiz;
    padding-top: 2rem;
    @include clearfix;
    a {
      color: $core-text;
    }
    h4 {
      line-height: 2rem;
      margin-top: 0;
      text-align: left;
      color: $white;
    }
    hr {
      border-color: transparentize($core-text, 0.5);
    }
    @include breakpoint(mobile-only) {
      .social-icons {
        float: none;
        clear: both;
        width: 100%;
        padding-top: 2rem;
      }
    }
    @include breakpoint(tablet-range) {
      .social-icons {
        float: none;
        clear: both;
        width: 100%;
        padding-top: 2rem;
      }
    }
    .footer-items {
      margin-top: 2rem;
      @include breakpoint(mobile-only) {
        margin-top: 0;
      }
      @supports not (flex-wrap: wrap) {
        overflow: hidden;
      }
      @include clearfix;
    }
    .footer-module {
      &.large {
        width: 40%;
      }
      display: block;
      float: left;
      width: 20%;
      vertical-align: top;
      padding-right: 2rem;
      @include breakpoint(large-mobile-range) {
        margin-top: 1rem;
        width: 50%;
      }
      @include breakpoint(small-mobile-range) {
        margin-top: 1rem;
        width: 100%;
      }
      span {
        @include clearfix;
      }
      strong {
        color: $white;
      }
      @include breakpoint(mobile-only) {
        width: 100% !important;
        float: none;
      }
    }
    .logo {
      border-bottom: 0 none;
      @include clearfix;
      color: $white;
      h3 a {
        color: $white;
      }
    }
    .quickmenu {
      margin: 0;
      padding: 0;
      list-style: none;
      i {
        padding-right: 0.5rem;
        color: $white;
        font-size: 0.7rem;
      }
    }
    .footer-modules {
      @include clearfix;
      display: block;
      padding-bottom: 1.5rem;
    }
    .footer-copyright {
      width: 50%;
      font-family: $font-family-header;
      display: inline-block;
      float: left;
      text-align: left;
      text-transform: uppercase;
      @include breakpoint(mobile-only) {
         width: 100%;
         float: none;
         text-align: left;
         margin-bottom: 1rem;
      }
    }
    .footer-menu {
      float: right;
      display: inline-block;
      width: 50%;
      text-align: right;
      text-transform: uppercase;
      font-family: $font-family-header;
      @include breakpoint(mobile-only) {
         width: 100%;
         float: none;
         text-align: left;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
          &:after {
            content: "/";
            margin: 0 0.5rem;
            display: inline-block;
          }
          &:last-child {
            &:after {
              display: none;
            }
          }
        }
      }
    }
    .newsletter {
      input {
        display: inline-block;
        height: 2.5rem;
        border: 0 none;
      }
      input[type=text] {
        background-color: transparentize($header-text, 0.8);
        color: $white;
      }
      input[type=submit] {
        background-color: transparentize($header-text, 0.5);
        color: $white;
        padding: 0 1.2rem;
        vertical-align: top;
      }
    } 
  }