<ul class="social-icons">
    {% for social in site.social %}
        <li>
            <a href="{{ social.url }}">
                {% if social.icon %}<i class="fa fa-{{ social.icon }}"></i>{% endif %}
            </a>
        </li>
    {% endfor %}
</ul>  
